<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
		<script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

		<script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>

        
    </head>
    <body>

        <!--隐藏浮层-->
        <div class="hidebox-w" style="display:none;">
        	<div class="hidebox">
            	<div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            	提示文字信息
            </div>
        </div>

        <header class="toptit">
            {$title}
            <a href="JavaScript:history.go(-1)">
                <div class="go-back">
                    <img src="__HOME_IMG__/arrow-l.png" />
                </div>
            </a>
            <a href="{:url('index/index/index')}">
                <div class="go-home">
                    <img src="__HOME_IMG__/home.png" />
                </div>
            </a>
        </header>
        
        {volist name="cart" id="c"}
        <div class="probox">
        	<div class="oneprobox oneprobox1">
            	<div class="chechbox"><input type="checkbox" id="cart_check_{$c.id}" /></div>
            	<div class="proimg">
                	<img src="{$c.product.picture|get_file_path}" />
                </div>
                <div class="proimg-r">
                	<div class="protit">{$c.product_id|get_product_value='name'}</div>
                    <div class="pro-else">
                    	<div class="else-l">规格：</div>
                        <div class="else-r">
                        	<div class="gg">{$c.product_spec|get_spec_value='name'}</div>
                        </div>
                    </div>
                    <div class="pro-else">
                    	<div class="else-l">数量：</div>
                        <div class="else-r">
                        	<ul class="buynum">
                                <li><input id="min_{$c.id}" name="" type="button" value="-" /></li>
                                <li><input id="product_count_{$c.id}" data-pid="{$c.product.id}" data-stock="{$c.product.stock}" data-price="{$c.product.price}" data-spec="{$c.product_spec}" name="product_count" type="number" value="{$c.product_count}" style="width:30px;text-align: center"/></li>
                                <li><input id="add_{$c.id}" name="" type="button" value="+" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="proprice">￥<span id="total">{$c.product.price}</span></div>
                </div>
            </div>
            <div class="operabtn">
                <button id="delCart_{$c.id}" data-id="{$c.id}">删除</button>
            </div>
        </div>
        {/volist}

        <div class="fix-buybtn1">
            <div class="zi">
                应付金额:<span id="order_price">0</span>元<br />
            共<span id="total_num"></span>件商品
            </div>
            <div class="fbuybtn" id="justbuy">结&nbsp;算</div>
<!--             <a href="{:url('index/order/buildorder')}">
        	   <div class="fbuybtn">结&nbsp;算</div>
            </a> -->
        </div>
        <div class="space1"></div>

        <script type="text/javascript">
            $(function(){
                //获得文本框对象

                // var t = $("#product_count");
                // var price = "{$c.product.price}";
                // var max_num = "{$c.product.stock}";

                //数量增加操作
                $("input[id^='add']").on('click', function(){
                    var t = $(this).parent().prev().children();
                    var price = $(t).attr('data-price');
                    var stock = $(t).attr('data-stock');
                    // alert($(t).attr('data-stock'));return false;
                    t.val(parseInt(t.val()) + 1);
                    if (parseInt(t.val()) != 1){
                        $(this).parent().prev().prev().attr('disabled',false);
                    }
                    //不能超过库存
                    if(parseInt(t.val()) >= stock){
                        $(this).attr('disabled',true);
                    }
                    // setTotals();
                });

                //数量减少操作
                $("input[id^='min']").on('click', function(){
                    var t = $(this).parent().next().children();
                    // alert(t.val());return false;
                    var price = $(t).attr('data-price');
                    t.val(parseInt(t.val()) - 1);
                    //数量不能低于1
                    if (parseInt(t.val()) <= 1){
                        $(this).attr('disabled',true);
                    }
                    // setTotals();
                });

                //删除
                $("button[id^='delCart_']").on('click', function(){
                    var d = $(this);
                    var id = d.attr('data-id');
                    // alert(id);return false;
                    if(confirm("确认删除该商品？")){
                        // location.href = 'index/cart/delete?id=' + id;
                        $.post('/index/cart/delete',{id:id},function(j){
                            // alert(j);
                            window.location.reload();
                        });
                    }else{
                        window.location.reload();
                    }
                });

                //计算操作
                function setTotals(){
                    var t = p = 0;
                    $("input[id^='product_count_']").each(function(){
                        var reft = parseInt($(this).val());
                        var stock = $(this).attr('data-stock');
                        var price = $(this).attr('data-price');
                        var each_total = $(this).parent().parent().parent().parent().next().children();
                        var each_account = (reft * price).toFixed(2);

                        // if(reft <= 1){
                        //     $(this).parent().prev().children().attr('disabled', true);
                        // }

                        each_total.html(each_account);
                        t += reft;
                        p += parseInt(each_account);
                        // alert(each_account);return false;
                    });
                    // alert(p);return false;
                    $("#total_num").html(t);//商品数量
                    $("#order_price").html(p);//toFixed()是保留小数点的函数很实用哦
                }

                //初始化
                // setTotals();

    			$('#home_slider').flexslider({
    				animation : 'slide',				   
    			});

                    // $("input[id^='cart_check_']").click(function(r){
                    //     if($(this).is(':checked')){
                    //         setTotals();
                    //     }
                    // });

                $("#justbuy").on('click', function(d){
                    var postProducts = [];

                    $("input[id^='cart_check_']").each(function(r){
                        if($(this).is(':checked')){
                            var pro = $(this).parent().parent().find("input[name='product_count']");
                            var count = parseInt($(pro).val());
                            var stock = parseInt($(pro).attr('data-stock'));
                            var spec = parseInt($(pro).attr('data-spec'));
                            var pid = parseInt($(pro).attr('data-pid'));

                            //商品有效性判断
                            if((1 > stock) || (count > stock)){
                                alert("商品库存不足");return false;
                            }

                            if(1 > count){
                                alert("请选择商品数量");return false;
                            }
                            
                            // alert(count);return false;
                            postProducts.push([pid, spec, count]);
                            setTotals();
                        }
                    });
                    // alert(postProducts);return false;

                    if(postProducts == "" || postProducts == undefined || postProducts == null){
                        alert("请选择商品");return false;                        
                    }

                    $.post('/index/order/checkorder',{data:postProducts},function(d){
                        //
                    });

                    // $("input[id^='product_count_']").each(function(d){
                    //     var count = parseInt($(this).val());
                    //     var stock = parseInt($(this).attr('data-stock'));
                    //     var spec = parseInt($(this).attr('data-spec'));
                    //     var pid = parseInt($(this).attr('data-pid'));
                    //     // alert(count);return false;

                    //     //商品有效性判断
                    //     if((1 > stock) || (count > stock)){
                    //         alert("商品库存不足");return false;
                    //     }

                    //     if(1 > count){
                    //         alert("请选择商品数量");return false;
                    //     }
                        
                    //     postProducts.push([pid, spec, count]);
                    // });
                    // // alert(postProducts);return false;
                    // $.post('/index/order/checkorder',{data:postProducts},function(d){
                    //     //
                    // });
                });
    		});	
        		
        </script>
    </body>
</html>
