<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
		<script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

		<script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>

        
    </head>
    <body>

        <!--隐藏浮层-->
        <div class="hidebox-w" style="display:none;">
        	<div class="hidebox">
            	<div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            	提示文字信息
            	
            </div>
        </div>
        <!--取消订单弹框-->
        <div class="hidebox-w1" style="display:none;">
        	<div class="hidebox">
            	<div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            	提示文字信息
            	
            </div>
        </div>

        <header class="toptit">
            {$title}
            <a href="JavaScript:history.go(-1)">
                <div class="go-back">
                    <img src="__HOME_IMG__/arrow-l.png" />
                </div>
            </a>
            <a href="{:url('index/index/index')}">
                <div class="go-home">
                    <img src="__HOME_IMG__/home.png" />
                </div>
            </a>
        </header>

        <div class="order-pay">
        	<div class="order-info">
            	订单交易成功，请尽快完成支付！<br />
                订单编号：{$order.order_sn}<br />
                总金额：<em>{$order.order_price}元</em>
            </div>
            <div class="pay-way-tit">选择支付方式：</div>
            <div class="pay-way">
            	<div class="pay-way-l">帐户余额支付：</div>
                <div class="pay-way-r">可用余额：{$user.balance}元</div>
            </div>
            {if condition="($user['balance'] >= $order['product_price'])"}
            {eq name="order.order_status" value="0"}
            <div class="pay-password">支付密码：<input type="password" id="paypass" name="paypass" placeholder="请输入支付密码" /></div>
            {/eq}
            {else /}
            <div class="pay-password">余额不足，请先<a href="{:url('index/ucenter/index')}">充值</a></div>
            {/if}
        </div>

        {if condition="($user['balance'] >= $order['product_price']) && ($order['order_status'] == 0)"}
        <div class="page-box"> <div class="button-tj" id="justpay">确认支付</div></div>
        {/if}
        <footer>
        <div class="space1"></div>
        <div class="bottom-o">
            <ul class="bottom">
                <a href="{:url('index/index/index')}"><li><img src="__HOME_IMG__/b-icon01.png" /><br />首页</li></a>
                <a href="{:url('index/product/index')}"><li><img src="__HOME_IMG__/b-icon02.png" /><br />所有商品 </li></a>
                <a href="{:url('index/cart/index')}"><li><img src="__HOME_IMG__/b-icon03.png" /><br />购物车</li></a>
                <a href="{:url('index/ucenter/index')}"><li><img src="__HOME_IMG__/b-icon04.png" /><br />会员中心</li></a>
            </ul>
         </div>

        <script type="text/javascript">
        		$(function(){
        			$('#home_slider').flexslider({
        				animation : 'slide',			   
        			});
        		});

                $("#justpay").on('click', function(d){
                    var order_sn = "{$order.order_sn}";
                    var paypass = $("#paypass").val();
                    if(!paypass){
                        alert("请输入支付密码");return false;
                    }

                    // alert(paypass);return false;

                    $.ajax({
                        type:'post',
                        url:'/index/order/payOrder',
                        data:{paypass:paypass,order_sn:order_sn},
                        success:function(s){
                            // alert(s);return false;
                            if(s == 1){
                                location.href = '/index/ucenter/index';
                            }else if(s == 2){
                                alert("订单已支付或被删除");return false;
                            }else{
                                alert("支付密码错误");return false;
                            }
                        },
                        error:function(e){
                            //
                        }
                    });
                });
        		
        		
        </script>
    </body>
</html>
