<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
		<script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

		<script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>

        
    </head>
    <body>

        <!--隐藏浮层-->
        <div class="hidebox-w" style="display:none;">
        	<div class="hidebox">
            	<div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            	提示文字信息    	
            </div>
        </div>

        <header class="toptit">
            {$title}
            <a href="JavaScript:history.go(-1)">
                <div class="go-back">
                    <img src="__HOME_IMG__/arrow-l.png" />
                </div>
            </a>
            <a href="{:url('index/index/index')}">
                <div class="go-home">
                    <img src="__HOME_IMG__/home.png" />
                </div>
            </a>
        </header>

        {volist name="order" id="o"}
            <div class="probox shop-info">
            	<div class="oneprobox goodsCheck" data-oid="{$o.cart_id}" data-pid="{$o.product.id}" data-spec="{$o.product_spec}" data-stock="{$o.product.stock}">
                	<div class="proimg">
                        <a href="{:url('index/product/detail', ['pid' => $o['product_id']])}">
                    	<img src="{$o.product.picture|get_file_path}" />
                        </a>
                    </div>
                    <div class="proimg-r">
                    	<div class="protit">{$o.product.name}</div>
                        <div class="pro-else">
                        	<div class="else-l">规格：</div>
                            <div class="else-r">
                            	<div class="gg" data-stock="{$o.product_spec_stock}">{$o.product_spec_name}</div>
                            </div>
                        </div>
                        <div class="pro-else">
                        	<div class="else-l">数量：</div>
                            <div class="else-r">
                                <ul class="buynum">
                                    <li class="minus">-</li>
                                    <li class="num">{$o.product_count|default=0}</li>
                                    <li class="plus">+</li>
                                </ul>
                            </div>
                        </div>
                        <div class="proprice">￥<span class="price">{$o.product.price}</span></div>
                    </div>
                </div>

                <div class="oneprobox">
                    运费：<input type="number" class="shipping_fee" name="shipping_fee" onblur="keyDown(this,event)" placeholder="请输入运费" /> 
                </div>
                <div class="oneprobox">
                    备注：<input type="text" class="order_note" name="order_note" placeholder="请输入备注信息" />                       
                </div>
                <div class="oneprobox">
                    小计：￥<span class="eachtotal">0.00</span>
                </div>
            </div>
        {/volist}

        <div class="recipientbox-w">
            	<div class="recipientbox">
                	<div class="title">
                        <div class="colorline"></div>收件人<span><img src="__HOME_IMG__/close.png" /></span>
                    </div>
                	<div class="addressbox">
                    	<div class="address">请选择收件人姓名电话地址</div>
                        <div class="changeaddress"><a href="{:url('index/userAddress/selectAddress')}">选择收货人</a></div>
                    </div>
                    {notempty name="address"}
                    <div class="addressbox">
                    	<div class="address" id="address_id" data-id="{$address.id}">
                        <em>{$address.username}</em><br />
                        电话：{$address.mobile}<br />
                        地址：{$address.address}
                        </div>
                    </div>
                    {/notempty}
<!--                     <div class="postage">
                        运费：<input type="number" id="shipping_fee" name="shipping_fee" onblur="keyDown(this,event)" placeholder="请输入运费" />
                    </div>
                    <div class="allprice">
                    	小计：￥<span id="total">0</span>
                    </div>
                    <div class="note">
                    	备注：<input type="text" id="order_note" name="order_note" placeholder="请输入备注信息" />
                    </div> -->
                </div>
<!--                 {empty name="address"}
                <a href="{:url('index/UserAddress/uadd')}">
                    <div class="addaddress">添加收件人</div>
                </a>
                {/empty} -->
        </div>

        <div class="fix-buybtn1">
            <div class="zi">
                应付金额:<span id="AllTotal">0</span>元<br />
            共<span id="AllNum"></span>件商品
            </div>
        	<div class="fbuybtn" id="justbuy">提交订单</div>
        </div>
        <div class="space1"></div>

        <script type="text/javascript">
            $(function(){

                $('#home_slider').flexslider({
                 animation : 'slide',                   
                });
                
                TotalPrice();

                // 数量减
                $(".minus").click(function() {
                    var t = $(this).parent().find('.num');
                    t.text(parseInt(t.text()) - 1);
                    if (t.text() <= 1) {
                        t.text(1);
                    }
                    TotalPrice();
                });

                // 数量加
                $(".plus").click(function() {
                    var t = $(this).parent().find('.num');
                    // var stock = parseInt($(this).parents(".shop-info").find(".goodsCheck").attr('data-stock'));
                    var stock = $(this).closest(".shop-info").find(".gg").attr('data-stock');
                    t.text(parseInt(t.text()) + 1);
                    if(t.text() >= parseInt(stock)){
                        t.text(parseInt(stock));
                    }
                    if (t.text() <= 1) {
                        t.text(1);
                    }
                    TotalPrice();
                });
            });

            //计算
            function TotalPrice() {
                  var oprice = 0; //店铺总价
                  var onum = 0; //店铺总数
                  $(".goodsCheck").each(function() { //循环店铺里面的商品
                      var num = parseInt($(this).parents(".shop-info").find(".num").text()); //得到商品的数量
                      var price = parseFloat($(this).parents(".shop-info").find(".price").text()); //得到商品的单价
                    // $(this).closest(".shop-group-item").find(".ShopTotal").text(oprice.toFixed(2)); //显示被选中商品的店铺总价
                    // var shipping_fee;
                    // var shipping_fee = parseFloat($("#shipping_fee").val());
                    var shipping_fee = parseFloat($(this).parents(".shop-info").find(".shipping_fee").val());
                    // alert(shipping_fee);return false;
                    if((shipping_fee != NaN) && shipping_fee){
                        // alert("请填写运费");return false;
                        shipping_fee = shipping_fee;
                    }else{
                        shipping_fee = 0.00;
                    }
                      var total = price * num + shipping_fee; //计算单个商品的总价
                      oprice += total; //计算该店铺的总价
                      onum += num; //计算该店铺的总价
                    // alert(shipping_fee);return false;
                    $(this).parents(".shop-info").find(".eachtotal").text(total.toFixed(2));
                    $("#total").text(oprice.toFixed(2));
                    $("#AllTotal").text(oprice.toFixed(2));
                    $("#AllNum").text(onum);
                  });
            }

            function keyDown(obj,e) {
                  var oprice = 0; //店铺总价
                  var onum = 0; //店铺总数
                  $(".goodsCheck").each(function() { //循环店铺里面的商品
                      var num = parseInt($(this).parents(".shop-info").find(".num").text()); //得到商品的数量
                      var price = parseFloat($(this).parents(".shop-info").find(".price").text()); //得到商品的单价
                        // var shipping_fee = parseFloat($(obj).val());
                        var shipping_fee = parseFloat($(this).parents(".shop-info").find(".shipping_fee").val());
                        // if((shipping_fee == NaN) || !shipping_fee){
                        //     alert("请填写运费");return false;
                        // }
                        if((shipping_fee != NaN) && shipping_fee){
                            // alert("请填写运费");return false;
                            shipping_fee = shipping_fee;
                        }else{
                            shipping_fee = 0.00;
                        }
                        // alert(shipping_fee);return false;
                      var total = price * num + shipping_fee; //计算单个商品的总价
                      oprice += total; //计算该店铺的总价
                      onum += num; //计算该店铺的总价
                    // $(this).closest(".shop-group-item").find(".ShopTotal").text(oprice.toFixed(2)); //显示被选中商品的店铺总价
                    // alert(total);return false;
                    $(this).parents(".shop-info").find(".eachtotal").text(total.toFixed(2));
                    $("#total").text(oprice.toFixed(2));
                    $("#AllTotal").text(oprice.toFixed(2));
                  });
             }

            // $(function(){
            //     //获得文本框对象
            //     

            //     //数量增加操作
            //     $("#add").click(function(){
            //         t.val(parseInt(t.val()) + 1)
            //         if (parseInt(t.val()) != 1){
            //             $('#min').attr('disabled',false);
            //         }
            //         //不能超过库存
            //         if(parseInt(t.val()) >= max_num){
            //             $('#add').attr('disabled',true);
            //         }
            //         setTotal();
            //     });

            //     //数量减少操作
            //     $("#min").click(function(){
            //         t.val(parseInt(t.val()) - 1);
            //         //数量不能低于1
            //         if (parseInt(t.val()) <= 1){
            //             $('#min').attr('disabled',true);
            //         }
            //         setTotal();
            //     });

            //     //计算操作
            //     function setTotal(){
            //         $("#total_num").html(parseInt(t.val()));//商品数量
            //         $("#total").html((parseInt(t.val()) * price).toFixed(2));//toFixed()是保留小数点的函数很实用哦
            //         $("#order_price").html((parseInt(t.val()) * price).toFixed(2));
            //     }

            //     //初始化
            //     setTotal();
            // });

    		$(function(){

                //立即购买
                $("#justbuy").on('click', function(d){
                    var uid = "{$session_user.id}";
                    var buyer_address = $("#address_id").attr("data-id");
                    // var order_note = $("#order_note").val();
                    // var shipping_fee = $("#shipping_fee").val();

                    var postProducts = [];
                    $(".goodsCheck").each(function(r){
                        var product_id = parseInt($(this).attr('data-pid'));
                        var product_spec = parseInt($(this).attr('data-spec'));
                        var product_count = parseInt($(this).parents(".shop-info").find(".num").text()); //得到商品的数量
                        // var product_stock = parseInt($(this).attr('data-stock'));
                        var product_stock = $(this).closest("body").find(".gg").attr('data-stock');
                        var cart_id = parseInt($(this).attr('data-oid'));
                        var order_note = $(this).parents(".shop-info").find(".order_note").val();

                        var shipping_fee = parseFloat($(this).parents(".shop-info").find(".shipping_fee").val());
                        if((shipping_fee != NaN) && shipping_fee){
                            // alert("请填写运费");return false;
                            shipping_fee = shipping_fee;
                        }else{
                            shipping_fee = 0.00;
                        }
                        // alert(order_note);return false;                      
                        var eachPost = [product_id,product_spec,product_count,uid,buyer_address,shipping_fee,order_note,cart_id];
                        postProducts.push(eachPost);
                    });
                    
                    // alert(JSON.stringify(postProducts));return false;

                    // alert(Number(product_count) > Number(stock));return false;

                    //登录判断
                    if(!uid){
                        window.location.href = '/index/index/loginpatch';return false;
                    }

                    // if(!product_spec){
                    //     alert("请选择商品规格");return false;
                    // }

                    // //商品有效性判断
                    // if((1 > stock) || (Number(product_count) > Number(stock))){
                    //     alert("商品库存不足");return false;
                    // }

                    // if(1 > product_count){
                    //     alert("请选择商品数量");return false;
                    // }

                    if(buyer_address == undefined){
                        alert("请选择收货地址");return false;                        
                    }
                    // if(!shipping_fee){
                    //     alert("请填写运费");return false;                        
                    // }

                    location.href = '/index/Order/buildOrder?products=' + JSON.stringify(postProducts);

                    // //去生成订单
                    // $.ajax({
                    //     type:'get',
                    //     url:'/index/Order/buildOrder',
                    //     // data:{product_id:product_id, product_spec:product_spec, product_count:product_count,buyer:uid,buyer_address:buyer_address,order_note:order_note},
                    //     data:JSON.stringify(postProducts),
                    //     success:function(s){
                    //         alert(s);return false;
                    //         // if(s > 0){
                    //             location.href = '/index/order/ulist';
                    //         // }
                    //     },
                    //     error:function(e){
                    //         //
                    //     }
                    // });
                });
    		});
        		
        </script>
    </body>
</html>
