<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
        <script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

        <script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>
    </head>
    <body>

        <!--隐藏浮层-->
        <div class="hidebox-w" style="display:none;">
            <div class="hidebox">
                <div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
                提示文字信息  
            </div>
        </div>

        <header class="toptit">
            {$title}
            <a href="JavaScript:history.go(-1)">
                <div class="go-back">
                    <img src="__HOME_IMG__/arrow-l.png" />
                </div>
            </a>
            <a href="{:url('index/index/index')}">
                <div class="go-home">
                    <img src="__HOME_IMG__/home.png" />
                </div>
            </a>
        </header>

        <div class="u-ad">
            <img src="__HOME_IMG__/u-ad.jpg" />
        </div>

        <ul class="u-info">
            <li>当前余额：<span>{$user.balance}</span></li>
            <li>会员：<span>{$user.username}</span></li>
        </ul>

        <ul class="u-buyinfo">
            {volist name="config_order_status" id="cos"}
            <li><a href="{:url('index/Order/ulist', ['order_status' => $key])}">{$cos}(<span>{$key|get_order_status_count=$user['id'],###}</span>)</a></li>
            {/volist}
<!--             <li><a href="{:url('index/Order/ulist', ['order_status' => 0])}">待付款(<span><?php echo get_order_status_count($user['id'],0);?></span>)</a></li>
            <li><a href="{:url('index/Order/ulist', ['order_status' => 1])}">待发货(<span><?php echo get_order_status_count($user['id'],1);?></span>)</a></li>
            <li><a href="{:url('index/Order/ulist', ['order_status' => 3])}">已完成(<span><?php echo get_order_status_count($user['id'],3);?></span>)</a></li>
            <li><a href="{:url('index/Order/ulist', ['order_status' => 5])}">已删除(<span><?php echo get_order_status_count($user['id'],5);?></span>)</a></li> -->
        </ul>

        <div class="u-list-o">
            <a href="{:url('index/Cart/index')}"><div class="u-list"><img src="__HOME_IMG__/u-icon01.png" />我的购物车({$cartnum})</div></a>
            <a href="{:url('index/Order/ulist')}"><div class="u-list"><img src="__HOME_IMG__/u-icon02.png" />我的订单</div></a>
            <a href="{:url('index/UserAddress/ulist')}"><div class="u-list"><img src="__HOME_IMG__/u-icon03.png" />收货地址</div></a>
            <a href="{:url('index/UserAccount/ulist')}"><div class="u-list"><img src="__HOME_IMG__/u-icon04.png" />资金明细</div></a>
            <a href="{:url('index/User/paypass')}"><div class="u-list"><img src="__HOME_IMG__/u-icon05.png" />支付密码</div></a>
            <a href="{:url('index/User/loginpass')}"><div class="u-list"><img src="__HOME_IMG__/u-icon07.png" />登录密码</div></a>
            <a href="{:url('index/User/profile')}"><div class="u-list"><img src="__HOME_IMG__/u-icon06.png" />资料修改</div></a>
            {eq name="user.pro_level" value="2"}
            <a href="{:url('index/Commission/ulist')}"><div class="u-list"><img src="__HOME_IMG__/u-icon08.png" />我的提成</div></a>
            {/eq}
            <a href="{:url('index/User/logout')}"><div class="u-list"><img src="__HOME_IMG__/u-icon09.png" />退出系统</div></a>
        </div>

        <footer>
        <div class="space1"></div>
        <div class="bottom-o">
            <ul class="bottom">
                <a href="{:url('index/index/index')}"><li><img src="__HOME_IMG__/b-icon01.png" /><br />首页</li></a>
                <a href="{:url('index/product/index')}"><li><img src="__HOME_IMG__/b-icon02.png" /><br />所有商品 </li></a>
                <a href="{:url('index/cart/index')}"><li><img src="__HOME_IMG__/b-icon03.png" /><br />购物车</li></a>
                <a href="{:url('index/ucenter/index')}"><li><img src="__HOME_IMG__/b-icon04.png" /><br />会员中心</li></a>        
            </ul>
         </div>
         </footer>

        <script type="text/javascript">
                $(function(){
                    $('#home_slider').flexslider({
                        animation : 'slide',                           
                    });
                });

                $(function(){
                    $('.i-gametit').animate({'top':'0'});
                });
        </script>
    </body>
</html>
