<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
        <script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

        <script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>

        
    </head>
    <body>

    <!--隐藏浮层-->
    <div class="hidebox-w" style="display:none;">
        <div class="hidebox">
            <div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            提示文字信息
            
        </div>
    </div>
    <header class="toptit">{$title}
        <a href="JavaScript:history.go(-1)">
            <div class="go-back">
                <img src="__HOME_IMG__/arrow-l.png" />
            </div>
        </a>
        <a href="{:url('index/index/index')}">
            <div class="go-home">
                <img src="__HOME_IMG__/home.png" />
            </div>
        </a>
    </header>

    <form id="find_pass_form" action="{url('index/user/findpassword')}" method="post">
    <div class="inputbox-o">
        <div class="inputbox">
            <div class="one-input inputbg1">
                <input type="text" name="username"  placeholder="请输入用户名" />
            </div>
            <div class="one-input inputbg2">
                <input type="password" name="findpass"  placeholder="请输入密码" />
            </div>
            <div class="one-input inputbg2-1">
                <input type="password" name="re_findpass"  placeholder="请再次输入密码" />
            </div>
            <div class="one-input inputbg5">
                <input type="text" name="mobile"  placeholder="请输入手机号码" />
            </div>
        </div>
    </div>
    <div class="page-box"><div class="button-tj">提交</div></div>
    </form>

    <script type="text/javascript">
        $(function(){
            $('.i-gametit').animate({'top':'0'});
        });

        $('.button-tj').click(function(){
            $("#find_pass_form").submit();
        });

        $('input').keydown(function(e){
            if(e.keyCode == 13){
                $("form").submit();                    
            }
        });
    </script>
    </body>
</html>
