<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
        <meta name="format-detection" content="telephone=no"/>
        <title>{$title}</title>
        <link type="text/css" href="__HOME_CSS__/lib.css"  rel="stylesheet"/>
        <link type="text/css" href="__HOME_CSS__/style.css"  rel="stylesheet"/>
       
        <script src="__HOME_JS__/jquery-v1.10.2.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="__HOME_JS__/jquery.event.drag-1.5.min.js"></script>
        <script type="text/javascript" src="__HOME_JS__/jquery.touchSlider.js"></script>

        <script type="text/javascript" src="__HOME_JS__/jquery.flexslider-min.js"></script>

        
    </head>
    <body>

    <!--隐藏浮层-->
    <div class="hidebox-w" style="display:none;">
        <div class="hidebox">
            <div class="hidebox-close"><img src="__HOME_IMG__/close1.png" /></div>
            提示文字信息
            
        </div>
    </div>
    <header class="toptit">{$title}
        <a href="JavaScript:history.go(-1)">
            <div class="go-back">
                <img src="__HOME_IMG__/arrow-l.png" />
            </div>
        </a>
        <a href="{:url('index/index/index')}">
            <div class="go-home">
                <img src="__HOME_IMG__/home.png" />
            </div>
        </a>
    </header>

    <form id="login_pass_form" action="{url('index/user/loginpass')}" method="post">
        <div class="probox">
            <div class="address-edit">
                <div class="address-edit-l">
                    原始密码：
                </div>
                <div class="address-edit-r">
                    <input type="password" name="loginpass"  placeholder="请输入原密码" />
                </div>
            </div>
            <div class="address-edit">
                <div class="address-edit-l">
                    新密码：
                </div>
                <div class="address-edit-l">
                    <input type="password" name="new_loginpass"  placeholder="请输入新密码" />
                </div>
            </div>
            <div class="address-edit">
                <div class="address-edit-l">
                    确认密码：
                </div>
                <div class="address-edit-l">
                    <input type="password" name="re_new_loginpass"  placeholder="请再次输入新密码" />
                </div>
            </div>
        </div>
        <div class="page-box"><div class="button-tj">确认修改</div></div>
        <div class="space1"></div>
    </form>

    <script type="text/javascript">
        $('#home_slider').flexslider({
            animation : 'slide',
           
        });

        $(function(){
            $('.i-gametit').animate({'top':'0'});
        });

        $('.button-tj').click(function(){
            $("#login_pass_form").submit();
        });    
    </script>
    </body>
</html>
